body {
  font-family: "Inter", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar-brand img {
  height: 40px;
}

/* Hero Section */
.hero {
  background: url(backgroundimg.jpg) center/cover no-repeat;
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 74px;
  text-align: left;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero p {
  margin: 15px 0;
  font-size: 1.1rem;
}

.hero .btn {
  background-color: #c8102e;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
}

.hero .btn i {
  padding-left: 5px;
  text-align: center;
}

/* USP Section */

.usp-card h4 {
  text-align: start;
  font-weight: 600;
}

.usp-card p {
  text-align: start;
  font-weight: 400;
}
.usp-section {
  padding: 50px 0;
}

.usp-section h3 {
  color: #c8102e;
  margin-bottom: 30px;
  font-weight: 600;
}

.usp-card {
  border: none;
  text-align: center;
  background: none;
  border-right: 2px solid #e3e6e5;
}
.card-img-top {
  height: 209px;
}

.card-body h5 {
  color: #c8102e;
}
/* Undergraduate Section */
.courses {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.courses h3 {
  color: #c8102e;
  margin-bottom: 20px;
  font-weight: 600;
}

.course-card img {
  border-radius: 8px;
}

.course-card .card-body {
  background: white;
  border-radius: 0 0 8px 8px;
}

/* Register Form */

.form-container {
  background-color: white;
  max-width: 660px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: 3px;
}

input.error,
select.error {
  border: 1px solid red;
}

.submit-btn {
  background-color: #b22222;
  color: white;
  border: none;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #9c1d1d;
}
/*********** Footer  ***********/

footer {
  background-color: #1a1d20;
}
.footer a:hover {
  color: #c8102e !important;
}
.footer .btn-outline-light {
  border: 1px solid #444;
  color: #fff;
  transition: 0.3s;
}
.footer .btn-outline-light:hover {
  background: #c8102e;
  border-color: #c8102e;
}

/* Responsive */

@media (max-width: 968px) and (min-width: 767px) {
  .card-body h5 {
    font-size: 11px;
  }
  .card-body p {
    font-size: 13px;
  }
  .rounded {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 70vh;
    /* text-align: center; */
    padding: 0 0 0 10px;
  }

  .hero h1 {
    font-size: 1.8rem;
  }
  .container {
    padding-left: 10px;
    padding-top: 20px;
  }
  .usp-card {
    border-bottom: 2px solid #e3e6e5;
    border-right: none;
  }
  .row .col-6 {
    width: 100%;
  }
  .usp-section .row {
    display: flex;
    flex-direction: column;
  }
  .card img {
    height: 160px;
  }
  .justify-content-center {
    justify-content: start;
  }
  .card-body h5 {
    font-size: 15px;
  }
  .card-body p {
    font-size: 13px;
  }
  .rounded {
    margin: 0;
  }
}
